@media (max-width: 600px) {
  .users div {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: auto;
}

.container-1 {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  color: white;
  margin: 1rem;
}

main {
  display: flex;
  justify-content: center;
  margin: 1rem;
  align-items: center; *
  /* text-align: center; */
  /* flex: 3; */
  /* height: 100vh; */
}
.container-2 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 1px gray solid;
  border-radius: 25px;
}

.container-3 {
  display: flex;
  flex-wrap: wrap;
}
.cards-box {
  /* width: 200px;
  margin: 10px;
  border: 1px #ccc solid;
  flex-basis: 15%;
  padding: 10px; */

  border-radius: 25px;
  border-style: solid;
  /* height: 100px; */
  width: calc(100% / 3 - 2rem);
  margin: 1rem;
  text-align: center;
  padding-bottom: 0.5rem;
}

.container-2 div {
  width: 50%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.users-header {
  display: flex;
}
